
Sensores/secrets.yaml
Sensores/.DS_Store
.DS_Store
Estação Meterológica/secrets.yaml
Logger/carbo2-e79fef51432f.json
Logger/carbo2-key.json
Carbo2KeyPair_Backup.pem
Sensores para estudo em sala/Carbo2_ESP32_NewSender/.vscode/extensions.json
